[user]
	name = Kazuma Takahara
	email = 4269kzm@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
[push]
	default = nothing
[pull]
	ff = only
[merge]
	ff = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	# abbreviation
	co = checkout
	st = status -u -s
	# listing
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	commits = !git --no-pager history
	submodules = submodule
	# log
	history = \
		log --branches --remotes --tags --date-order --abbrev-commit --date=relative \
		--pretty=format:'%C(yellow)%h%Creset %C(green)(%cd)%Creset %s %C(dim white)%an%Creset%C(bold yellow)%d%Creset'
	graph = \
		log --branches --remotes --tags --date-order --abbrev-commit --date=relative \
		--pretty=format:'%C(yellow)%h%Creset %C(green)(%cd)%Creset %s %C(dim white)%an%Creset%C(bold yellow)%d%Creset' \
		--graph
	graphns = \
		log --branches --remotes --tags --date-order --abbrev-commit --date=relative \
		--pretty=format:'%C(yellow)%h%Creset %C(green)(%cd)%Creset %s %C(dim white)%an%Creset%C(bold yellow)%d%Creset%n' \
		--graph --name-status
	# check
	pre-add = diff
	pre-commit = diff --cached
	# reset
	reset-add = reset --quiet HEAD --
	reset-commit = reset --mixed HEAD~
	reset-all = !git reset --hard HEAD && git clean -d -f
	reset-stash = stash pop
	reset-stash-apply = !git stash -p | git apply -R
	# ammend
	amend = commit --amend --no-edit
	amend-message = commit --amend
	track-remote-branches = !git-track-remote-branches
